name: Run bash Script

on:
  push:
    branches:
      - main

jobs:
  run_script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Run bash script
        run: |
          chmod +x hello-world/base.sh
          ./hello-world/base.sh
